@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 0.625rem;
  background-image: url(../images/fondo.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

::-moz-selection {
  color: #fff;
  background: #675AFE;
}

::selection {
  color: #fff;
  background: #675AFE;
}

.wrapper {
  width: 750px;
  padding: 1.875rem;
  border-radius: 0.4375rem;
  background: #fff;
  box-shadow: 0.4375rem 0.4375rem 1.25rem rgba(0, 0, 0, 0.05);
}

.wrapper h1 {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}

.wrapper form {
  margin: 2.5rem 0 1.25rem 0;
}

.wrapper form :where(input, select, button) {
  width: 100%;
  outline: none;
  border-radius: 0.3125rem;
  border: none;
}

.wrapper form p {
  font-size: 1.125rem;
  margin-bottom: 0.3125rem;
}

.wrapper form input {
  height: 50px;
  font-size: 1.0625rem;
  padding: 0 0.9375rem;
  border: 1px solid #999;
}

.wrapper form input:focus {
  padding: 0 0.875rem;
  border: 2px solid #675AFE;
}

.wrapper form button {
  height: 52px;
  color: #fff;
  font-size: 1.0625rem;
  cursor: pointer;
  background: #675AFE;
  transition: 0.3s ease;
}

.wrapper form button:hover {
  background: #4534fe;
}

.drop-list {
  display: flex;
  margin-top: 1.25rem;
  align-items: center;
  justify-content: space-between;
}

.select-box {
  display: flex;
  width: 300px;
  height: 45px;
  align-items: center;
  border-radius: 0.3125rem;
  justify-content: center;
  border: 1px solid #999;
}

.select-box img {
  max-width: 21px;
}

.select-box select {
  width: auto;
  font-size: 1rem;
  background: none;
  margin: 0 -0.3125rem 0 0.3125rem;
}

.select-box select::-webkit-scrollbar {
  width: 0.5rem;
}

.select-box select::-webkit-scrollbar-track {
  background: #fff;
}

.select-box select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
  border: 2px solid #ffffff;
}

.icon {
  cursor: pointer;
  margin-top: 1.875rem;
  font-size: 1.375rem;
}

.exchange-rate {
  font-size: 1.0625rem;
  margin: 1.25rem 0 1.875rem 0;
}

.wrapper-list {
  width: 750px;
  padding: 1.875rem;
  border-radius: 0.4375rem;
  background: #fff;
  box-shadow: 0.4375rem 0.4375rem 1.25rem rgba(0, 0, 0, 0.05);
  margin-top: 1rem;
}

.wrapper-list h1 {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}

.wrapper-list ul {
  list-style: none;
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 0.5rem;
}

@media (max-width: 800px) {
  .drop-list {
    flex-direction: column;
    justify-content: center;
  }

  .select-box {
    width: 362.5px;
  }

  .wrapper {
    width: 425px;
  }

  .wrapper-list {
    width: 425px;
  }
}